- name: Actualizar el cache de paquetes
  apt:
    update_cache: yes

# Instalar dependencias para Docker
- name: Instalar dependencias para Docker
  apt:
    name: 
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common

# Agregar la clave GPG oficial de Docker
- name: Agregar la clave GPG oficial de Docker
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

# Agregar el repositorio de Docker al sources.list.d
- name: Agregar el repositorio de Docker al sources.list.d
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable
    state: present

# Actualizar el cache de paquetes de nuevo (para que encuentre el paquete de Docker)
- name: Actualizar el cache de paquetes de nuevo (para que encuentre el paquete de Docker)
  apt:
    update_cache: yes

# Instalar Docker
- name: Instalar Docke
  apt:
    name: docker-ce
    state: present

# A침adir el usuario actual al grupo de Docker
- name: A침adir el usuario actual al grupo de Docker
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

# Instalar Docker Compose
- name: Instalar Docker Compose
  shell: |
    curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
    chmod +x /usr/local/bin/docker-compose
  args:
    creates: /usr/local/bin/docker-compose

- name: Establecer vm.max_map_count en el kernel
  sysctl:
    name: vm.max_map_count
    value: "262144"
    state: present
    reload: yes

- name: Copiar archivo de configuraci칩n del docker-compose
  copy:
    src: ../docker-compose.yml
    dest: /home/{{ ansible_user }}/docker-compose.yml

# Ejecutar un archivo docker-compose.yml
- name: Ejecutar docker-compose.yml
  command: docker-compose up -d
  args:
    chdir: /home/{{ ansible_user }}/
  become: yes
  
# Plugins for Jenkins: 

- name: Copiar archivo plugins.txt al contenedor
  copy:
    src: ../files/plugins.txt  
    dest: /home/{{ ansible_user }}/plugins.txt

- name: Copiar archivo plugins.txt al contenedor Jenkins
  command: docker cp /home/{{ ansible_user }}/plugins.txt jenkins:/plugins.txt


- name: Copiar archivo de configuraci칩n .groovy al host
  copy:
    src: ../init.groovy.d/init.groovy
    dest: /home/{{ ansible_user }}/init.groovy

- name: Crear carpeta init.groovy.d en el contenedor como root
  command: docker exec --user root jenkins mkdir -p /var/lib/jenkins/init.groovy.d

- name: Copiar archivo .groovy
  command: docker cp /home/{{ ansible_user }}/init.groovy jenkins:/usr/share/jenkins/ref/init.groovy.d/
  notify: restart jenkins

- name: Instalar plugins jenkins
  command: docker exec -it jenkins jenkins-plugin-cli --plugin-file /plugins.txt
  become_user: "{{ ansible_user }}"
  become_method: su
  notify: restart jenkins

